    <!-- Mobile-only Illustration Section -->
    <section class="mobile-illustration-section">
        <div class="hero-image">
            <img src="https://raw.githubusercontent.com/Muhammad-izhaan/Mindful-ai-therapist-node-version/refs/heads/main/public/images/brain-waves.svg" alt="Mindfullness Brain Waves">
        </div>
    </section>
